[build]
  publish = "."

[[redirects]]
  from = "/index"
  to = "/"
  status = 301

[[redirects]]
  from = "/home"
  to = "/"
  status = 301

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "*.html"
  [headers.values]
    Cache-Control = "public, max-age=3600"


[[redirects]]
  from = "http://staffona.com/*"
  to = "https://www.staffona.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://www.staffona.com/*"
  to = "https://www.staffona.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://staffona.com/*"
  to = "https://www.staffona.com/:splat"
  status = 301
  force = true